
<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' }}"/>
<meta property="og:title" content="Non-Zero Days" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://non-zero-days.github.io/" />
<meta property="og:description" content="Short demonstrations to help learn about technologies" />
<meta name="theme-color" content="#000000">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Short demonstrations to help learn about technologies" />
<!-- end custom head snippets -->
