<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' }}"/>
25
Down vote
Accepted
<meta property="og:title" content="Non-Zero Days" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://non-zero-days.github.io/" />
<meta property="og:image" content="http://my.site.com/images/thumb.png" />
<meta property="og:description" content="Talking about tech via short demonstrations" />
<meta name="theme-color" content="#000000">

<!-- end custom head snippets -->
